[submodule "appinventor/lib/blockly"]
	path = appinventor/lib/blockly
	url = https://github.com/feduss/blockly.git
[submodule "appinventor/lib/closure-library"]
	path = appinventor/lib/closure-library
	url = https://github.com/feduss/closure-library.git
